body {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

button {
  float: left;
}
.container {
  text-align: center;
  margin: 0 auto;
  width:300px;
}

.liStyle {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: blue;
  list-style-type: none;
}

.cross {
  text-decoration: line-through;
  background-color: red;
}
